.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.datos input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}

.datos button {
  width: 320px;
  height: 50px;
  margin-top: 5px;
}




.divheader{
  width: 100%;
  float: left;
}

.h1cab{
  color: yellow;
  text-align: center;
}

.imgcab {
  width: 80%;
  height: 350px;
  float: left;
}

.divitem {
  text-align: center;
}

.item {
  font-size: 2rem;
  margin-left: 3px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 10px;
}